.search-word-component > input,
.search-word-component > button {
  font-size: 1.25rem;
  padding: 5px 10px;
  margin: 4px;
}

.search-word-component > button {
  cursor: pointer;
}

.search-word-component > p {
  margin-bottom: 0;
  cursor: pointer;
  transition: color 0.25s ease;
}

.search-word-component > p:hover {
  color: rgba(0, 0, 0, 0.5);
}

.existence-status,
.dictionary-words {
  position: absolute;
  bottom: 0;
  font-size: 1.25rem;
  width: 88%;
  text-align: center;
  color: #141414;
  margin: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.show-existence-status {
  bottom: -50px;
}

.show-dictionary-words {
  bottom: -120px;
}
